NODE_ENV=docker
PORT=7000
MONGO_URI=mongodb://mongo:27017/notification-service
PEPPER=peppersalt
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d

# Consul Service Discovery
DOCKER_ENV=true
CONSUL_HOST=consul
CONSUL_PORT=8500
SERVICE_NAME=notification-service
SERVICE_HOST=notification-service

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin