NODE_ENV=docker
PORT=4000

MONGO_HOST=localhost
MONGO_PORT=27017

PEPPER=your_pepper_here
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d

# Consul Service Discovery
DOCKER_ENV=true
CONSUL_HOST=localhost
CONSUL_PORT=8500
SERVICE_NAME=leave-service

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# api key for internal service communication
INTERNAL_API_KEY=your internal api key here
